Repository zcash/zips, pull requests merged in 2021-03, with the labels that each got.

#458 ZIP 216: non-canonical encodings of SpendDescription.{cv, rk} and OutputDescription.{cv, epk} will already be rejected
  zip-0216.html
  zip-0216.rst
Labels: ZIP bug

#441 NU5 specification
  protocol/Makefile
  protocol/key_components_orchard.png
  protocol/key_components_orchard.svg
  protocol/orchard.pdf
  protocol/protocol.tex
  protocol/zcash.bib
Labels: NU5 proposal, Orchard, review needed

#453 Proposal to remove Sprout fields from the V5 transaction format.
  zip-0225.html
  zip-0225.rst
Labels: NU5 proposal, Orchard, review needed, transaction parsing

#105 [ZIP 302] Standardized Memo Field Format
  README.rst
  index.html
  zip-0302.html
  zip-0302.rst
Labels: ZIP idea, ZIP number assigned, protocol spec, review needed
