Repository zcash/zips, pull requests merged in 2024-07, with the labels that each got.

#865 [ZIP] Add draft-hopwood-coinbase-balance ("Blocks should balance exactly")
  draft-hopwood-coinbase-balance.rst
Labels: ZIP idea

#426 [ZIP 311] Zcash Payment Disclosures
  README.rst
  rendered/index.html
  rendered/zip-0311.html
  zips/zip-0311.rst
Labels: F-selective-disclosure, ZIP idea, ZIP number assigned

#882 Remove teor and Aditya Bharadwaj as ZIP editors
  rendered/zip-0000.html
  zips/zip-0000.rst
Labels: review needed, ZIP process
