Repository zcash/zips, pull requests merged in 2024-11, with the labels that each got.

#929 Add dark mode for the protocol specification
  .gitignore
  Makefile
  README.rst
  README.template
  protocol/Makefile
  protocol/incremental_merkle_dark.png
  protocol/incremental_merkle_dark.svg
  protocol/key_components_orchard.png
  protocol/key_components_orchard_dark.png
  protocol/key_components_orchard_dark.svg
  protocol/protocol.tex
  rendered/css/style.css
  rendered/index.html
  rendered/protocol/blossom.pdf
  rendered/protocol/canopy.pdf
  rendered/protocol/heartwood.pdf
  rendered/protocol/nu5.pdf
  rendered/protocol/protocol-dark.pdf
  rendered/protocol/protocol.pdf
  rendered/protocol/sapling.pdf
Labels: protocol spec, S-scratching-an-itch

#934 ZIP 317: Add a requirement that we neglected to mention
  rendered/zip-0317.html
  zips/zip-0317.rst
Labels: ZIP clarification

#927 Add draft-hopwood-disallow-v4-transactions
  README.rst
  rendered/draft-hopwood-disallow-v4-transactions.html
  rendered/index.html
  zips/draft-hopwood-disallow-v4-transactions.rst
Labels: NU7 proposal

#933 Fix protocol spec link in `README.rst`
  README.rst
  README.template
  edithtml.sh
  rendered/index.html
Labels: C-cleanup

#935 Suggested process for Update ZIPs
  rendered/zip-0000.html
  zips/zip-0000.rst
Labels: ZIP process, ZIP clarification

#854 ZSA Protocol: Transfer, Issuance and Burn: ZIPs 226, 227, and 230
  .github/workflows/render.yml
  docs
  rendered/zip-0226.html
  rendered/zip-0227.html
  rendered/zip-0230.html
  zips/zip-0226.rst
  zips/zip-0227.rst
  zips/zip-0230.rst
Labels: ZSAs, NU7 proposal

#918 [ZIP 2004] Remove the dependency of consensus on note encryption
  zips/zip-2004.rst
Labels: ZIP idea, consensus, NU7 proposal

#928 [ZIP-254] Deployment of the NU7 Network Upgrade
  zips/zip-0254.md
Labels: ZIP number assigned, consensus, NU7 proposal

#914 [ZIP 234] NSM: Smooth Issuance Curve
  rendered/assets/images/zip-0234-balance.png
  rendered/assets/images/zip-0234-block_subsidy.png
  zips/zip-0234.md
Labels: consensus, NU7 proposal

#824 ZIP 231: Memo Bundles
  zips/zip-0231.md
  zips/zip-0231.rst
Labels: consensus, F-transaction-v6, NU7 proposal

#946 Add NU7 Candidate ZIPs section to the index
  README.template
Labels: index

#915 [ZIP 235] Burn 60% Transaction Fees
  zips/zip-0235.md
Labels: NU7 proposal

#940 Clarify that there may always be funds associated with the P2PKH address at diversifier index 0
  rendered/zip-0316.html
  zips/zip-0316.rst
Labels: ZIP bug

#959 Complete the removal of the restriction on Revision 1 UAs having only a Transparent address
  rendered/zip-0316.html
  zips/zip-0316.rst
Labels: ZIP bug
